.root
{
    background-color: #222;
    -fx-background-color: background-color;
}

.hbox
{
    -fx-background-color: #e4f;
}

.label
{
    -fx-text-fill: #eee;
}

.hyperlink
{
    -fx-border-color: transparent;
    -fx-padding: 0,0,0,0;
}

.hyperlink:visited
{
    -fx-text-fill: #055
}

.menu .label
{
    -fx-text-fill: #eee;
}

.menu-item
{
    -fx-background-color: background-color;
    -fx-border-width: 0;
}

.context-menu
{
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: background-color;
    -fx-background-insets: 0, 0, 0;
    -fx-padding: 0 0 0 0;
}
.toolbar
{
    -fx-background-color: background-color;
}

.split-pane
{
    -fx-background-color: background-color;
}

.split-pane-divider
{
    -fx-background-color: #444;
}

.editor
{
    -fx-background-color: background-color;
}

.text-area
{
    -fx-text-fill: #eee;
    -fx-border-color: background-color;
    -fx-border-radius: 0;
}

.text-area .content
{
    -fx-background-color: background-color;
    -fx-border-color: background-color;
    -fx-border-radius: 0;
}

.text-area .scroll-pane
{
    -fx-background-color: background-color;
}